<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <style>
            body {
                background-color: #112233;
                color: white;
                font-family: 'Courier New', Courier, monospace;
            }
            #poc_log {
                color: white;
                font-family: 'Courier New', Courier, monospace;
                display: block;
                overflow: auto;
                height: 50%;
            }
            h1 {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
                $(function() {
                  $('a#send_udp').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('/send_udp',
                        function(data) {
                      //do nothing
                    });
                    return false;
                  });
                });
        </script>
        <script type=text/javascript>
                $(function() {
                  $('a#send_udp_ipv6').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('/send_udp_ipv6',
                        function(data) {
                      //do nothing
                    });
                    return false;
                  });
                });
        </script>
        <script type=text/javascript>
                $(function() {
                  $('a#send_tcp_ipv6').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('/send_tcp_ipv6',
                        function(data) {
                      //do nothing
                    });
                    return false;
                  });
                });
        </script>

        <h1>{{ title }}</h1>
        <br>
        <table>
            <tr>
                <td>Tracker address:</td>
                <td>
                    <select id="tracker_address_select" onchange="tracker_address_select_onchange();">
                        <option value="">Self</option>
                        <option value="">Custom</option>
                    </select>
                    <input id="tracker_address" size="32" placeholder="tracker address (e.g: 6.6.6.6)"/>
                </td>

            </tr>
            <tr>
                <td>Request Type:</td>
                <td>
                    <select id="request_type_select" onchange="request_type_select_onchange();">
                        <option value="get">Get</option>
                        <option value="post">Post</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td>Request Body:</td>
                <td><input id="request_body" size="32" placeholder="Hello World!" /></td>
            </tr>
            <tr>
                <td>Browser:</td>
                <td><input id="browser" size="32" placeholder="Browser" /></td>
            </tr>
            <tr>
                <td>OS:</td>
                <td><input id="os" size="32" placeholder="Operating system" /></td>
            </tr>

        </table>
        <button id="do_fingerprint_btn" onclick="do_fingerprint()">Fingerprint me!</button>


        <div class='container'>
                <form>
                    <a href=# id=send_udp><button class='btn btn-default'>Send UDP</button></a>
                </form>
        </div>
        <div class='container'>
                <form>
                    <a href=# id=send_udp_ipv6><button class='btn btn-default'>Send UDP IPv6</button></a>
                </form>
        </div>
        <div class='container'>
                <form>
                    <a href=# id=send_tcp_ipv6><button class='btn btn-default'>Send TCP IPv6</button></a>
                </form>
        </div>

        <br>
        <br>
        <span id="poc_log"></span>
		<script src="{{url_for('static', filename='platform.js')}}"></script>
		<script src="{{url_for('static', filename='poc.js')}}"></script>
		<script src="{{url_for('static', filename='external_code.js')}}"></script>
    </body>
</html>